Source: homesec-client
Version:1.0
Maintainer:Shalom Crown <shalomcrown@gmail.com>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.7), debhelper (>= 7)
Standards-Version: 3.9.2
X-Python-Version: >= 2.7

Package: python-homesec-client
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-numpy,python-opencv,v4l-utils
Description: Client side of RPi compatible home security bashup

